In [36]:
#집값 예측

import pandas as pd
import numpy as np

data = pd.read_csv("house_price.csv")
data.head()

   housing_age  income  bedrooms  households     rooms  house_value
0           23  6.7770  0.141112    2.442244  8.103960       500000
1           49  6.0199  0.160984    2.726688  5.752412       500000
2           35  5.1155  0.249061    1.902676  3.888078       500000
3           32  4.7109  0.231383    1.913669  4.508393       500000
4           21  4.5625  0.255583    3.092664  4.667954       500000

In [37]:
data.isnull().sum()

housing_age    0
income         0
bedrooms       0
households     0
rooms          0
house_value    0
dtype: int64

In [38]:
X = data.drop(columns = ['house_value'])
y = data[['house_value']]

print(X.shape)
print(y.shape)

(17689, 5)
(17689, 1)

In [39]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [40]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [41]:
#선형회귀
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)
pred_train = model.predict(X_train)
model.score(X_train,y_train)

0.5672741116016592

In [42]:
pred_test = model.predict(X_test)
model.score(X_test,y_test)

0.5928249952352121

In [43]:
from sklearn.metrics import mean_squared_error
MSE = mean_squared_error(y_train,pred_train)
print("RMSE :",np.sqrt(MSE))

RMSE : 62858.87440124775