In [1]:
import pandas as pd
import numpy as np

b1 = pd.read_csv("basic1.csv")
b1.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [2]:
b1.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [8]:
#f1컬럼의 10번째 큰 값 찾기
top10 = b1['f1'].sort_values(ascending=False).iloc[9]
print(top10)

88.0

In [10]:
#결측치를 10번째 큰 값으로 대체
b1['f1'] = b1['f1'].fillna(top10)

In [11]:
#결측치 제거전 중앙값
before_median = b1['f1'].median()
print(before_median)

77.5

In [14]:
#중복제거
b1 = b1.drop_duplicates(subset=['age'])

In [17]:
after_median = b1['f1'].median()
print(after_median)

77.0

In [18]:
print(abs(before_median-after_median))

0.5