In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('covid_vaccination_vs_death_ratio.csv')
data.head()

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
0,0,Afghanistan,AFG,2021-05-11,504502.0,448878.0,55624.0,12,40094444.0,1.119552
1,1,Afghanistan,AFG,2021-05-20,547901.0,470341.0,77560.0,10,40094444.0,1.173083
2,2,Afghanistan,AFG,2021-05-24,573277.0,476367.0,96910.0,10,40094444.0,1.188112
3,3,Afghanistan,AFG,2021-05-26,590454.0,479372.0,111082.0,19,40094444.0,1.195607
4,4,Afghanistan,AFG,2021-05-27,593313.0,479574.0,113739.0,14,40094444.0,1.196111

In [6]:
data2 = data.groupby('country').max()
data2.head()

,Unnamed: 0,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
country,,,,,,,,,
Afghanistan,16,AFG,2021-08-20,1201286.0,770542.0,430744.0,86,40094444.0,1.921817
Albania,135,ALB,2021-10-08,1789592.0,960652.0,828940.0,18,2871380.0,33.456108
Algeria,138,DZA,2021-09-25,14082920.0,6017036.0,4032942.0,34,44830504.0,13.421745
Andorra,158,AND,2021-09-26,102032.0,54312.0,47720.0,2,77355.0,70.211363
Angola,181,AGO,2021-09-26,3134137.0,2127405.0,1006732.0,18,34237452.0,6.213678

In [7]:
#접종률 상위 10개
top = data2['ratio'].sort_values(ascending=True).iloc[:10].mean()
bottom = data2['ratio'].sort_values(ascending=False).iloc[:10].mean()

In [8]:
print(top-bottom)

-88.07468455036246

In [ ]:
#이거 모르겠음 다시해