In [19]:
import pandas as pd
import numpy as np

data = pd.read_csv("diabetes.csv")
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [22]:
#이상치(0) 처리
print(data.shape)

a = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']
for i in a:
    data[i] = data[i].replace(0,data[i].mean())
data.head()

(768, 9)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.000000,79.799479,33.6,0.627,50,1
1,1,85.0,66.0,29.000000,79.799479,26.6,0.351,31,0
2,8,183.0,64.0,20.536458,79.799479,23.3,0.672,32,1
3,1,89.0,66.0,23.000000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.000000,168.000000,43.1,2.288,33,1

In [23]:
X = data.drop(columns=['Outcome'])
y = data[['Outcome']]

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y)
print(X_train)
print(y_train)

     Pregnancies  Glucose  BloodPressure  SkinThickness    Insulin   BMI  \
266            0    138.0      69.105469      20.536458  79.799479  36.3
759            6    190.0      92.000000      20.536458  79.799479  35.5
583            8    100.0      76.000000      20.536458  79.799479  38.7
255            1    113.0      64.000000      35.000000  79.799479  33.6
347            3    116.0      69.105469      20.536458  79.799479  23.5
..           ...      ...            ...            ...        ...   ...
459            9    134.0      74.000000      33.000000  60.000000  25.9
108            3     83.0      58.000000      31.000000  18.000000  34.3
730            3    130.0      78.000000      23.000000  79.000000  28.4
570            3     78.0      70.000000      20.536458  79.799479  32.5
321            3    112.0      74.000000      30.000000  79.799479  31.6

     DiabetesPedigreeFunction  Age
266                     0.933   25
759                     0.278   66
583                     0.190   42
255                     0.543   21
347                     0.187   23
..                        ...  ...
459                     0.460   81
108                     0.336   25
730                     0.323   34
570                     0.270   39
321                     0.197   25

[576 rows x 8 columns]
     Outcome
266        1
759        1
583        0
255        1
347        0
..       ...
459        0
108        0
730        1
570        0
321        1

[576 rows x 1 columns]

In [24]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train,y_train)
pred_train = model.predict(X_train)
model.score(X_train,y_train)

<ipython-input-24-f131e97336b4>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train,y_train)

1.0

In [25]:
pred_test = model.predict(X_test)
print(pred_test)

[1 0 1 0 0 0 1 1 0 0 1 1 0 1 1 0 1 1 1 0 1 1 0 0 0 1 1 1 1 0 0 1 1 1 0 0 1
 0 1 1 1 1 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 1 0 1 1 1 1 1 0 0
 0 1 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1
 1 0 0 1 0 1 1 1 1 0 1 0 0 1 1 1 0 1 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0
 0 0 0 0 0 1 0]

In [27]:
test = pd.DataFrame(pred_test)
print(test)

     0
0    1
1    0
2    1
3    0
4    0
..  ..
187  0
188  0
189  0
190  1
191  0

[192 rows x 1 columns]

In [29]:
test.to_csv("aaaa.csv")

In [30]:
model.score(X_test,y_test)

0.7239583333333334